#**
    This is a velocity template comment - unmodified
*#

#[[
this is unmodified content
]]#
   This
   is
   a
   test

 ${test.prop}
$test.prop
$!test.prop
$test.getProp().nested
$test-hyphen
$test-hyphen.property
$test-hyphen.method()
$aB0_[$aB].test
$aB0_.test[0]
more text follows